body {
  font-family: "kanit", sans-serif;
  background-color: black;
  color: white;
}
button {
  font-family: "kanit";
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
header {
  padding: 30px;
}

header img {
  height: 40px;
  object-fit: cover;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 40px;
}
.menuLinks {
  color: white;
  text-decoration: none;
}
.menuLinks:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- Home Page -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

/*------ NB : les styles pour la page Home et pour la page Comics sont identiques donc les classNames des elements
de la page comics portent les noms des classNames de la page Home */

.sectionCharacters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.principalTitleCharacters {
  margin-top: 20px;
  border: solid 1px lightgoldenrodyellow;
  border-radius: 4px;
  color: black;
  width: 95%;
  text-align: center;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.titlePage {
  font-size: 25px;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}
.titlePage:hover {
  background-color: lightgoldenrodyellow;
  color: black;
  cursor: pointer;
}
.buttonPage {
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 8px;
}
.buttonPage:hover {
  opacity: 0.7;
  cursor: pointer;
}
.buttonPageDiv {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.offButtonPageSuivante {
  display: none;
}
.offButtonPagePrecedente {
  display: none;
}
.searchBarCharacter {
  background-color: black;
  color: white;
  height: 30px;
  width: 200px;
  border-radius: 4px;
  border: none;
  text-align: center;
}
.home {
  height: 1000px;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.charAndImg {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin: 50px;
  margin-left: 150px;
  flex-shrink: 0;
  flex-wrap: wrap;
  text-align: center;
}
.imgChar {
  height: 300px;
  width: 250px;
  object-fit: cover;
}
.imgChar:hover {
  opacity: 0.7;
}
.nameChar {
  width: 250px;
}
.descCharacter {
  font-size: 12px;
  width: 100px;
}
.linkComicsOfChar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  color: white;
}
.linkComicsOfChar:hover {
  opacity: 0.7;
  cursor: pointer;
}
.charAndDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.buttonDescCharacters {
  background-color: lightgoldenrodyellow;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 5px;
}
.buttonDescCharacters:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*------------ModAL-------------*/
/* .home {
   position: relative;
}  */

.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(233, 226, 226, 0.5);
}
.modal {
  background-color: black;
  width: 700px;
  height: 400px;
  padding: 10px 50px;
  /* Placer le button en haut à droite de la modal : */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.descModal {
  text-align: center;
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- comicsOfChar Page -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.sectionCommicsOfChar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCommicsOfChar {
  margin: 50px 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 100px;
}
.divImgAndTitleOfComicsOfChar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.titleOfComicsOfChar {
  max-width: 250px;
}
.avatarOfImg {
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.nameOfChar {
  font-weight: bold;
  font-size: 20px;
  margin-right: 30px;
}
.descOfComicsOfChar {
  margin-top: 10px;
  text-align: center;
  color: red;
  width: 250px;
  height: 60px;
  overflow: scroll;
  scrollbar-width: none;
}
.setOffDesc {
  display: none;
}
.buttonDescComicsOfChar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  color: black;
  border: none;
}
.buttonDescComicsOfChar:hover {
  opacity: 0.7;
  cursor: pointer;
}
